@import "./normalize";
@import "./fonts";
@import "./globals";

/* home */
* {
  font-family: Gotham Pro;
  font-style: normal;
}
.container {
  max-width: 1710px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.page-title {
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  text-transform: uppercase;

  span {
    font-weight: 300;
  }

  &--light {
    color: #ffffff;
  }
  &--dark {
    color: #151515;
  }
}
.page-subtitle {
  font-weight: bold;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 20px;
  &--light {
    color: #ffffff;
  }
  &--dark {
    color: #151515;
  }
}
.section-title {
  font-weight: 300;
  font-size: 50px;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 45px;
  transition: all 1s ease-in-out;
  &--light {
    color: #ffffff;
  }
  &--dark {
    color: #151515;
  }
}
.section-description {
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  transition: all 1s ease-in-out;
  &--light {
    color: #ffffff;
  }
  &--dark {
    color: #151515;
  }
  p {
    margin-bottom: 20px;
    color: inherit;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.section-btn {
  height: 145px;
  width: 145px;

  transition: all 1s ease-in-out;
  a {
    border: 2px solid #ffffff;
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    /* identical to box height, or 26px */

    color: #ffffff;
    svg {
      position: absolute;
      right: 14px;
      top: 7px;
    }
    span {
      display: block;
      position: absolute;
      bottom: 7px;
      left: 14px;
    }
  }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff;
}

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-top: 60px;
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    width: 50%;
  }
  .navbar {
    width: 50%;
    &-nav {
      display: flex;
      justify-content: space-between;
      span {
        display: flex;
      }
    }
    &-item {
      a {
        font-weight: bold;
        font-size: 16px;
        line-height: 15px;
        color: #ffffff;
        display: inline-block;
      }
      margin-right: 60px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.section {
  height: 100vh;
}
.home {
  background-image: url("../images/vide-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    position: relative;
    padding-bottom: 120px;
  }
  &-content {
    position: absolute;
    bottom: 120px;
    width: 100%;
    .scroll {
      font-size: 20px;
      line-height: 130%;
      color: #ffffff;
      transform: rotate(-90deg);
      position: absolute;
      right: 0;
      bottom: 120px;
      span {
        display: inline-block;
        width: 135px;
        border: 0.5px solid #fff;
        margin-bottom: 5px;
        margin-left: 30px;
      }
    }
  }
}
.home-about {
  position: relative;
  background: #151515;
  .section-img {
    position: absolute;
    width: 70%;
    right: 0;
    height: 100%;
    top: 0;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    position: relative;
    top: 192px;
    max-width: 400px;
    transition: all 0.3s ease-in-out;
  }
  .section-title {
    opacity: 0;
    position: relative;
    top: 70px;
  }
  .section-description {
    opacity: 0;
    position: relative;
    top: 70px;
  }
  .section-btn {
    position: absolute;
    right: 0%;
    opacity: 0;
    margin-top: 75px;
    a {
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #151515;
      }
    }
  }
}
.home-about.active {
  .section-title {
    opacity: 1;
    top: 0px;
  }
  .section-description {
    opacity: 1;
    top: 0px;
  }
  .section-btn {
    opacity: 1;
    right: -32.5%;
  }
}

.market {
  background-color: #151515;
  position: relative;
  .container {
    height: auto;
  }

  &-row {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    &--space-between {
      justify-content: space-between;
    }
    &--center {
      justify-content: center;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-item {
    display: flex;
    max-width: 620px;
    align-items: center;
    &__icon {
      margin-right: 80px;
    }
    &__text {
      font-weight: normal;
      font-size: 20px;
      line-height: 150%;
      color: #ffffff;
      position: relative;
      z-index: 3;
      padding: 20px 40px;

      &::before {
        position: absolute;
        display: block;
        content: "";
        top: 0;
        left: 0;
        width: 0%;
        transition: all 1s ease-in-out 0.3s;
        background: rgba(41, 183, 184, 0.3);
        box-shadow: 0px 1px 1px rgba(41, 183, 184, 0.1);
        backdrop-filter: blur(4px);
        height: 100%;
        z-index: -1;
      }
    }
  }
}
.market.active {
  .market-item__text {
    &::before {
      width: 50%;
    }
  }
}
.problem {
  background-color: #151515;
  .container {
    height: auto;
  }
  &-content {
    padding-top: 50px;
  }
  .section-title {
    margin-bottom: 15px;
  }
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-count {
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    text-transform: uppercase;
    color: #ffffff;
  }
  &-dot {
    background: #29b7b8;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
  &-text {
    font-family: "Roboto";
    max-width: 375px;
    font-weight: 300;
    font-size: 28px;
    line-height: 130%;
    color: #ffffff;
    position: relative;
    z-index: 5;

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #29b7b8;
      display: block;
      width: 0;
      height: 100%;
      z-index: 6;
    }
    .text {
      opacity: 0;
    }
  }
  &-category {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 264px;
    height: 100%;
    &__item {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 5;

      .bg {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #29b7b8;
        display: block;
        width: 0;
        height: 100%;
        z-index: 6;
      }
    }
    &__later {
      margin-right: 30px;
      opacity: 0;
    }
    &__text {
      font-weight: normal;
      font-size: 18px;
      line-height: 130%;
      color: #ffffff;
      opacity: 0;
    }
  }
}

.solution {
  background-color: #151515;
  .container {
    height: auto;
  }
  &-content {
    padding-top: 50px;
  }
  .section-title {
    margin-bottom: 0;
  }
  .section-btn {
    margin: 0 auto;
    margin-top: -70px;
    a {
      background-color: #151515;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #29b7b8;
      }
    }
  }
  .box-top {
    .box-title {
      font-weight: bold;
      font-size: 40px;
      line-height: 100%;
      color: #ffffff;
      span {
        color: #29b7b8;
      }
    }
    text-align: center;
  }
  .box-bottom {
    text-align: center;
  }
  &-row {
    display: flex;
    /* margin-bottom: 30px; */
  }
  &-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    width: 50%;
    min-height: 400px;
    overflow: hidden;
    transition: all 1s ease-in-out;

    &__block {
      padding: 40px 50px;
      position: absolute;

      height: 100%;
      left: 0;
      bottom: -70%;
      transition: all 1s ease-in-out;
    }
    &:hover {
      .solution-item__block {
        background-color: rgba(26, 78, 78, 0.8);
        bottom: 0;
      }
      .solution-title {
        &__text {
          &::after {
            width: 168%;
          }
        }
      }
    }
  }
  &-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 110%;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    &__text {
      position: relative;
      &::after {
        display: block;
        content: "";
        width: 0%;
        height: 4px;
        background-color: #fff;
        position: absolute;
        left: 98%;
        top: 50%;
        transform: translateY(-50%);
        transition: all 1s ease-in-out;
      }
    }
  }
  &-text {
    font-family: Roboto;
    font-weight: normal;
    font-size: 30px;
    line-height: 130%;
    color: #ffffff;
  }
}

.footer {
  background-color: #151515;
  padding: 50px 0;
  &-content {
    &__top {
      display: flex;
      justify-content: space-between;
    }
  }
  &-navbar {
    .nav-item {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-weight: normal;
        font-size: 16px;
        line-height: 15px;
        color: #ffffff;
      }
    }
  }
  &-social {
    ul {
      display: flex;
    }
    li {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      background-color: #fff;
      display: inline-block;
      height: 40px;
      width: 40px;
      display: flex;
      padding: 10px;
      border-radius: 50%;
    }
  }
}

/* about */
.dark {
  .header-logo {
    path {
      fill: #151515;
    }
    line {
      stroke: #151515;
    }
  }
  .navbar-item {
    a {
      color: #151515;
    }
  }
}
.about {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/sky_top.png");
    height: 960px;
    width: 15873px;
    animation: animate 300s linear infinite;
    background-size: contain;
    /*  background-repeat: no-repeat; */
    /* background-repeat: repeat-y; */
    z-index: 1;
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../images/sky_bottom.png");
    height: 960px;
    width: 12445px;
    animation: animate 300s linear infinite;
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-y; */
    z-index: 1;
  }
  .home-content {
    z-index: 5;
  }
  @keyframes animate {
    0% {
      background-position: 0px;
    }
    100% {
      background-position: -10144px;
    }
  }
}
.about-slide {
  position: relative;
  .section-img {
    position: absolute;
    width: 60%;
    right: 0;
    height: 100%;
    top: 0;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .swiper-container {
      height: 100%;
    }
  }
  &-content {
    padding-top: 150px;
    max-width: 500px;
  }
  .swiper-pagination-bullet {
    width: 80px;
    height: 5px;
    border-radius: 0;
    position: relative;
  }
  .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
  }
  .swiper-pagination-bullet::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #1a4e4e;
  }
  .swiper-pagination-bullet-active {
    background-color: inherit;
    opacity: inherit;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
    width: 100%;
    animation: paginationLine 10s linear;
  }
  @keyframes paginationLine {
    from {
      width: 0;
    }
  }
}
.agreement {
  .container {
    height: auto;
  }
  &-content {
    padding-top: 50px;
  }
  &-row {
    display: flex;
    &__left {
      width: 50%;
    }
    &__right {
      width: 50%;
    }
  }
  &__swiper-text {
    max-height: 520px;
  }
  &-descrition__text {
    max-width: 640px;
    padding: 40px 0 40px 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 130%;
    color: #151515;
    position: relative;
    z-index: 2;
    span {
      width: 320px;
      height: 130px;
      background: #29b7b8;
      opacity: 0.3;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
  &-descrition__img {
    text-align: right;

    max-height: 520px;
    img {
      width: 100%;
      text-align: right;
    }
  }
}
@import "./media";
